{% extends 'templates.html' %}

{% block content %}
    <div class="panel-body no-padding">
									<table class="table">
										<thead>
											<tr>
												<th>序号</th>
												<th>HOST NAME</th>
												<th>IP ADDRESS</th>
												<th>HDD SIZE</th>
                                                <th>MEM SIZE</th>
                                                <th>CPU INFO</th>
                                                <th>UPDATE TIME</th>
											</tr>
										</thead>
										<tbody>
											{% for trinfo in tr_list %}
                                                    <tr>
                                                        <td>1</td>
                                                        <td>{{ trinfo.hostname }}</td>
                                                        <td>{{ trinfo.hostip }}</td>
                                                        <td>{{ trinfo.hosthdd }}</td>
                                                        <td>{{ trinfo.hostmem }}</td>
                                                        <td>{{ trinfo.hostcpu }}</td>
                                                        <td>{{trinfo.dateTime}}</td>
                                                    </tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>

{% endblock %}