{% extends 'templates.html' %}
{% block content %}
    <div class="main">
    <div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Host List</h3>
			<div class="right">
				<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
				<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
			</div>
		</div>
        <div>{% include "tables.html" %}</div>>
        <div>{% include "charts.html" %}</div>>
	</div>
    <div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="#" target="_blank">Sherlock</a>. All Rights Reserved.</p>
			</div>
		</footer>
	</div>
	<script src="static/assets/vendor/jquery/jquery.min.js"></script>
	<script src="static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="static/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="static/assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="static/assets/scripts/klorofil-common.js"></script>
{% endblock %}
